<div id="layoutSidenav_nav">
    <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
        <div class="sb-sidenav-menu">
            <div class="nav">
                <div class="sb-sidenav-menu-heading">Core</div>
                <a class="nav-link" href="{{ path('app_lucky') }}">
                    <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                    Dashboard
                </a>
                <div class="sb-sidenav-menu-heading">Interface</div>
                <a class="nav-link" href="{{ path('app_article_list') }}">
                    <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                    Articles
                </a>
                <a class="nav-link" href="{{ path('app_article_create') }}">
                    <div class="sb-nav-link-icon"><i class="fas fa-plus"></i></div>
                    Créer un Article
                </a>
                <a class="nav-link" href="{{ path('app_login') }}">
                    <div class="sb-nav-link-icon"><i class="fas fa-sign-in-alt"></i></div>
                    Login
                </a>
            </div>
        </div>
        <div class="sb-sidenav-footer">
            <div class="small">Connecté en tant que:</div>
            {% if app.user %}
                {{ app.user.userIdentifier }}
            {% else %}
                Guest
            {% endif %}
        </div>
    </nav>
</div>
